

<nav class="navbar bg-dark fixed-top d-flex" id="navbar">
	<div class="responsiveNavbar" id="responsiveNavbar">
		<a href="{{ path('home') }}" class="responsiveLink">Home</a>
		<a href="{{ path('events') }}" class="responsiveLink">Crear evento</a>
		<a href="{{ path('friends') }}" class="responsiveLink">Amigos</a>
		<a href="{{ path('perfil') }}" class="responsiveLink">Preferencias</a>
		<a href="{{ path('logout') }}" class="responsiveLink">Log out</a>
	</div>
	<div class="btn-group" role="group">
		<a class="btn btn-light" href="{{ path('home') }}">Home</a>
		<a class="btn btn-light" href="{{ path('events') }}">Crear evento</a>
		<a class="btn btn-light" href="{{ path('friends') }}">Amigos</a>

	</div>
	<form role="form" action="{{ path('search') }}"  method="post" class="md-form mt-0" id="searchForm">
		<div>
			<input id="searchBox" class="form-control form-control-inline" type="text" placeholder="Search" aria-label="Search" name="searchBox">
			<button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
		</div>
		<div id="results" onfocusout="resultsFocusOut()"></div>
	</form>
	<div class="btn-group" role="group">
		<a class="btn btn-light" href="{{ path('perfil') }}">Preferencias</a>
		<a class="btn btn-light" href="{{ path('logout') }}">Log out</a>
	</div>
		<a href="javascript:void(0);" class="icon" onclick="collapseSlide()">
			<i class="fa fa-bars"></i>
		</a>
</nav>
{% block javascript %}
<script>
var searchBox = document.getElementById("searchBox"),
	result = document.getElementById("result");
var loadedEvents;
document.addEventListener('DOMContentLoaded', function(){ 
	var eventsArray = [];
    
    searchBox.onkeyup = function(){
		var val = this.value;
		val = val.replace(/^\s|\s $/, "");
		if(val !== ""){
			searchForEvents(val);
		}
	}

}, false);

function resultsFocusOut(){
	document.getElementById("results").style.display = "none";

}

function searchForEvents(value){
	$.ajax({
		method:"POST",
		data: {value},
		url:"{{ path('searchFromNavbar') }}",
		dataType:'json',
		success: function(data){
			clearEvents();
			eventsArray = data.eventos
			putEvents(eventsArray);
		}
	})
}
function clearEvents(){
	var results = document.getElementById('results');
	results.innerHTML = '';
}

function putEvents(events){
	var result = document.getElementById('results');
	result.style.display = "block";
	result.focus();
	for(i=0; i<events.length;i++){
		var id = events[i][0];
		var href = '{{ path("eventFromId", {"id": "eventId"}) }}';
		href = href.replace("eventId", id);

		var eventContainer = document.createElement("div");
		var eventLink = document.createElement("a");
		eventContainer.setAttribute('class', 'result');
		eventLink.setAttribute('class', 'resultLink');
		eventLink.setAttribute('href', href);
		var textnode = document.createTextNode(events[i][1]);
		eventLink.appendChild(textnode);
		eventContainer.appendChild(eventLink);
		result.appendChild(eventContainer);
	}
}
</script>
{% endblock %}
{% block stylesheets %}
<style type="text/css">
	#results{
		display: none;
		padding-top: 10px;
		position:absolute;
		width: 200px;
		height: 100px;
		overflow: auto;
	}
	.result{
		cursor: pointer;
		overflow-y: auto;
		max-width: 200px;
		border-bottom: 1px solid #ccc;
		background: #fff;
	}
	.resultLink{
		display:block;
		line-height: 1.34;
		font-size: 17px;
		color: #1d2129;
		font-weight: 600;
	}
	.resultLink:hover{
		text-decoration: none;
	}
	.form-control-inline{
		display: inline;
		width: auto;
	}
	.searchButton{
		height: 37px;
   		width: 30px;
	}
</style>
{% endblock %}