<nav class="navbar bg-dark fixed-top d-flex" id="navbar">
	<div class="responsiveNavbar" id="responsiveNavbar">
		<a href="{{ path('home') }}" class="responsiveLink">Home</a>
		<a href="{{ path('events') }}" class="responsiveLink">Crear evento</a>
		<a href="{{ path('friends') }}" class="responsiveLink">Amigos</a>
		<a href="{{ path('perfil') }}" class="responsiveLink">Preferencias</a>
		<a href="{{ path('logout') }}" class="responsiveLink">Log out</a>
	</div>
	<div class="btn-group" role="group">
		<a class="btn btn-light" href="{{ path('home') }}">Home</a>
		<a class="btn btn-light" href="{{ path('events') }}">Crear evento</a>
		<a class="btn btn-light" href="{{ path('friends') }}">Amigos</a>

	</div>
	<div class="md-form mt-0">
		<div><input id="searchBox" class="form-control" type="text" placeholder="Search" aria-label="Search"></div>
		<div id="result"></div>
	</div>
	<div class="btn-group" role="group">
		<a class="btn btn-light" href="{{ path('perfil') }}">Preferencias</a>
		<a class="btn btn-light" href="{{ path('logout') }}">Log out</a>
	</div>
		<a href="javascript:void(0);" class="icon" onclick="collapseSlide()">
			<i class="fa fa-bars"></i>
		</a>
</nav>
{% block javascript %}
<script>
var searchBox = document.getElementById("searchBox"),
	result = document.getElementById("result");
var ajax = null;
var loadedEvents;

searchBox.onkeyup = function(){
	var val = this.value;
	val = val.replace(/^\s|\s $/, "");

	if(val !== ""){
		searchForEvents(val);
	}
}
function searchForEvents(value){
	$.ajax({
		method:"POST",
		data: value,
		url:"{{ path('searchEvents') }}",
		dataType:'json',
		success: function(data){
			var results = JSON.parse(data.events);
			putEvents(results);
		}
	})
}
function putEvents(events){
	var result = document.getElementById('result');
	foreach(event in events){
		var node = document.createElement("div");
		var textnode = document.createTextNode(event.title);
		node.appendChild(textnode);
		result.appendChild(node);
	}
}
</script>
{% endblock %}