<nav class="navbar bg-dark fixed-top d-flex">
	<div class="btn-group" role="group" aria-label="Basic example">
		<a class="btn btn-light" href="{{ path('home') }}">Index</a>
		<a class="btn btn-light" href="{{ path('events') }}">Crear evento</a>
		<a class="btn btn-light" href="{{ path('friends') }}">Amigos</a>
	</div>
	<div class="btn-group" role="group" aria-label="Basic example">
		<a class="btn btn-light" href="{{ path('perfil') }}">Preferencias</a>
		<a class="btn btn-light" href="{{ path('logout') }}">Log out</a>
	</div>
</nav>